<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
    <meta name="robots" content="noindex,follow" />
    <link rel="stylesheet" href='{{ (resources.Get "vendor/splide.min.css").Permalink }}'>
    <link rel="stylesheet" href='{{ (resources.Get "scss/app.scss" | resources.ToCSS | resources.Minify).Permalink }}' media="all">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ $seoTitle := print .Params.Title " | ÖV Plus" }}
    {{ if .Params.seoTitle }}
        {{ $seoTitle = .Params.seoTitle }}
    {{ end }}
    <title>{{ $seoTitle }}</title>
    <meta name="description" content="{{ .Summary }}" />
    <meta name="keywords" content="{{ .Params.seoKeywords }}" />
    <body class="has-navbar-fixed-top">
        {{- partial "header.html" . -}}
        <main class="content">
            {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}

        {{ $splide := resources.Get "vendor/splide.min.js" }}
        <script src="{{ $splide.Permalink }}"></script>
        
        {{ $main := resources.Get "js/main.js" }}
        {{ $dropdown := resources.Get "js/dropdown.js" }}
        {{ $fontawesome := resources.Get "js/fontawesome.min.js" }}
        {{ $js := slice $main $dropdown $fontawesome | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint }}
        <script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
    </body>
</html>
