section {
    @extend .py-6;
    &.white {
        background-color: $white;
    }
    &.light {
        background-color: $beige3;
    }
    &.blue {
        background-color: $cyan_dark;
        color: $white;
        h1, h2, h3 {
            color: $white;
        }
    }
    &.darkblue {
        background-color: $darkblue;
        color: $white;
        h1, h2, h3 {
            color: $white;
        }
    }
}