{{ define "main" }}
{{- partial "intro.html" . -}}
<section class="blue">
  <div class="container">
    <div class="columns is-justify-content-center is-align-items-center">
      <div class="column">
        <h2>{{ .Params.promo.title }}</h2>
        <p>{{ .Params.promo.text | markdownify }}</p>
        {{- if .Params.promo.buttonHref -}}
        <a class="button is-light" href="{{ .Params.promo.buttonHref }}">{{ or .Params.promo.buttonLabel .Params.promo.buttonHref }}</a>
        {{- end -}}
      </div>
    </div>
  </div>
</section>
{{- partial "content.html" . -}}

<section class="light">
  <div class="container">
    <h2>{{ .Params.video.title }}</h2>
    <p>{{ .Params.video.text | markdownify }}</p>

    <div class="tabs is-toggle is-centered is-fullwidth">
      <ul class="m-0">
        {{- range .Params.video.items -}}
        <li>
          <a data-tab="{{ .title | urlize }}"><span>{{ .title }}</span></a>
        </li>
        {{- end -}}
      </ul>
    </div>
    {{- range .Params.video.items -}}
    <div data-tabid="{{ .title | urlize }}">
      <figure class="image m-0">
        <video controls>
          <source src="{{ .video }}" type="video/mp4">
        </video>
        <figcaption>{{ .title }}</figcaption>
      </figure>
    </div>
    {{- end -}}

  </div>
</section>

<section class="white">
  <div class="container faq">
    <h2>{{ .Params.faq.title }}</h2>
    {{- if .Params.faq.text -}}
    <p>{{ .Params.faq.text | markdownify }}</p>
    {{- end -}}
    {{- range .Params.faq.items -}}
    <article class="message">
      <a class="message-header">
        <span>{{ .title }}</span>
        <span class="icon is-small arrow">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </a>
      <div class="message-body">
        <div>{{ .text | markdownify }}</div>
      </div>
    </article>
    {{- end -}}
  </div>
</section>



{{ end }}