{{ define "main" }}
{{- partial "scheduleBox.html" . -}}
{{- partial "intro.html" . -}}
{{ if .Params.carousel }}
<section class="blue">
  <div class="container">
    <div class="splide" id="carousel">
      <div class="splide__track">
        <ul class="splide__list">
          {{ range .Params.carousel }}
          <li class="splide__slide">
            <div class="px-1">
              <div class="columns is-align-items-center">
                <div class="column">
                  <h2>{{ .title }}</h2>
                  <p>{{ .text | markdownify }}</p>
                  {{ if .linkHref }}
                  <div class="button-wrapper">
                    <a class="button is-white" href="{{ .linkHref }}">{{ or .linkLabel .linkHref }}</a>
                  </div>
                  {{ end }}
                </div>
                {{ if .image }}
                <div class="column is-one-third">
                  <img src="{{ .image }}" alt="{{ .title }}" />
                </div>
                {{ end }}
              </div>
            </div>
          </li>
          {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}

{{- if .Params.services -}}
<section class="white">
  <div class="container">
    <h2>{{ .Params.services.title }}</h2>
    <p>{{ .Params.services.text | markdownify }}</p>

    {{- range .Params.services.items -}}
      <h3>{{ .title }}</h3>
      <img src="{{ .image }}" title="{{ .title }}" />
      <p>{{ .text }}</p>
      <a class="button is-primary mb-4" href="{{ .linkHref }}">
        <span>{{ .linkLabel }}</span>
        <span class="icon">
            <i class='fas fa-arrow-right' aria-hidden="true"></i>
        </span>
      </a>
    {{- end -}}
  </div>
</section>
{{- end -}}

{{- partial "content.html" . -}}
{{ end }}